@use "@/app/scss/abstracts" as *;

#DistributionPackage {
  margin-top: rem(100);
  overflow-x: clip;

  @include breakpoint(medium) {
    margin-top: rem(40);
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 0;
    gap: rem(10);
  }

  @include breakpoint(large) {
    height: 100vh;
    gap: rem(30);
  }

  @include breakpoint(xlarge) {
    margin-top: rem(180);
    gap: rem(10);
  }

  .content_container {
    @include full_padding_inline;

    @include breakpoint(medium) {
      padding-right: rem(20);
    }

    @include breakpoint(xlarge) {
      justify-content: flex-start;
      padding-block: rem(80);
    }

    h1,
    p,
    ul {
      @include breakpoint(large) {
        max-width: 90%;
      }

      @include breakpoint(xlarge) {
        font-size: rem(22);
        max-width: 80%;
      }

      @include breakpoint(xxlarge) {
        font-size: rem(36);
      }
    }

    h2 {
      max-width: 80%;

      @include breakpoint(large) {
        max-width: 80%;
      }

      @include breakpoint(xlarge) {
        max-width: 60%;
        font-size: rem(36);
      }

      @include breakpoint(xxlarge) {
        font-size: rem(64);
      }
    }

    ul {
      list-style: disc;
      padding-left: rem(20);
      display: flex;
      flex-direction: column;
      gap: rem(10);
    }
  }

  .img_container {
    width: 100%;
    aspect-ratio: 1;
    position: relative;

    @include breakpoint(medium) {
      margin-top: auto;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    @include breakpoint(xlarge) {
      width: 100%;
      padding-left: 10%;
    }

    .opt_img_container {
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0;
      object-fit: contain;
      object-position: 0% 50%;
      margin-left: 16%;
      transform: scale(1.09);
      transform-origin: bottom right;

      img {
        width: 100%;
        height: 100%;
      }

      @include breakpoint(medium) {
        margin-left: 0;
        transform: scale(1);
        object-position: 100% 50%;
      }

      @include breakpoint(xlarge) {
        transform: scale(1);
      }
    }
  }
}
