@use "@/app/scss/abstracts" as *;

#AnimatedButton {
  a {
    width: fit-content;
    font-family: $lato;
    font-weight: 400;
    font-size: rem(14);
    border: rem(1) solid $c_button_dark;
    padding: rem(10) rem(40);
    border-radius: rem(100);

    @include breakpoint(large) {
      transition: background 0.3s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        background-color: $c_button_dark;
        color: $c_button_light;
      }
    }

    @include breakpoint(xlarge) {
      font-size: rem(18);
      padding: rem(16) rem(80);
    }

    @include breakpoint(xxlarge) {
      font-size: rem(24);
      padding: rem(20) rem(80);
    }
  }
}
