@use "@/app/scss/abstracts" as *;

#DistributionMockup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include full_width;

  @include breakpoint(medium) {
    height: auto;
  }

  .distribution_mockup_main {
    margin-top: rem(20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: rem(14);

    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(30);
    }

    @include breakpoint(large) {
      gap: rem(140);
    }

    .right {
      width: 100%;
      aspect-ratio: 1;
      display: flex;
      align-items: center;

      .image {
        width: 100%;
        position: relative;
        z-index: 2;

        @include breakpoint(large) {
          cursor: pointer;
        }
      }

      .img_left_container {
        z-index: 1;
        transform: rotate(-10deg) scale(1.1) translateX(rem(10))
          translateY(rem(5));

        transition: z-index 0.2s ease-in-out, scale 0.3s ease-in-out;

        @include breakpoint(large) {
          &:hover {
            z-index: 3;
            scale: 1.15;
          }
        }
      }

      .img_mid_container {
        transform: scale(1.2);

        @include breakpoint(large) {
          transition: scale 0.3s ease-in-out;

          &:hover {
            scale: 1.1;
          }
        }
      }

      .img_right_container {
        z-index: 1;
        transform: rotate(10deg) scale(1.1) translateX(rem(-10))
          translateY(rem(5));

        transition: z-index 0.2s ease-in-out, scale 0.3s ease-in-out;

        @include breakpoint(large) {
          &:hover {
            z-index: 3;
            scale: 1.15;
          }
        }
      }
    }

    .content_container {
      grid-column: 2 / 3;

      @include breakpoint(medium) {
        padding-left: 2vw;
      }

      h2 {
        max-width: 80%;

        @include breakpoint(large) {
          max-width: 80%;
        }

        @include breakpoint(xlarge) {
          max-width: 60%;
          font-size: rem(36);
        }

        @include breakpoint(xxlarge) {
          font-size: rem(64);
        }
      }
    }
  }
}
