@use "@/app/scss/abstracts" as *;

#DistributionModelSection {
  background-color: $c_background_secondary;
  padding-block: rem(60);
  display: flex;
  flex-direction: column;
  gap: rem(80);

  @include breakpoint(medium) {
    padding-block: rem(60) 0;
    gap: 0;
  }
}
