@use "@/app/scss/abstracts" as *;

#DistributionModelSection {
  background-color: $c_background_secondary;
  padding-block: rem(60);
  display: flex;
  flex-direction: column;
  gap: rem(0);

  @include breakpoint(medium) {
    padding-block: rem(60) 0;
    gap: 0;
  }

  .title_container {
    @include full_width;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(14);

    @include breakpoint(xxlarge) {
      gap: rem(40);
    }

    h1 {
      font-family: $syne;
      font-weight: 400;
      font-size: rem(16);
      color: $c_text_secondary;

      @include breakpoint(large) {
        max-width: 80%;
      }

      @include breakpoint(xlarge) {
        font-size: rem(22);
      }

      @include breakpoint(xxlarge) {
        font-size: rem(36);
      }
    }

    h2 {
      font-family: $nunito;
      font-weight: 700;
      font-style: italic;
      color: $c_text_primary;
      text-align: center;
      font-size: rem(30);

      @include breakpoint(medium) {
        font-size: rem(40);
      }

      @include breakpoint(large) {
        font-size: rem(36);
      }

      @include breakpoint(xlarge) {
        font-size: rem(30);
        font-weight: 600;
      }

      @include breakpoint(xxlarge) {
        font-size: rem(60);
      }
    }
  }

  .content_container {
    display: flex;
    flex-direction: column;
    gap: rem(20);

    @include breakpoint(medium) {
      grid-column: 1 / 2;
      justify-content: center;
    }

    @include breakpoint(large) {
      gap: rem(30);
    }

    @include breakpoint(xlarge) {
      gap: rem(40);
    }

    @include breakpoint(xxlarge) {
      gap: rem(60);
    }

    h1,
    p,
    li {
      font-family: $syne;
      font-weight: 400;
      font-size: rem(16);
      color: $c_text_secondary;

      @include breakpoint(xlarge) {
        font-size: rem(22);
      }

      @include breakpoint(xxlarge) {
        font-size: rem(36);
      }
    }

    h2 {
      text-align: left;
      font-family: $nunito;
      font-style: italic;
      font-weight: 600;
      font-size: rem(30);
      color: $c_text_primary;
      max-width: 80%;

      @include breakpoint(large) {
        max-width: 80%;
      }

      @include breakpoint(xlarge) {
        max-width: 40%;
        font-size: rem(36);
      }

      @include breakpoint(xxlarge) {
        font-size: rem(64);
      }
    }

    a {
      width: fit-content;
      font-family: $lato;
      font-weight: 400;
      font-size: rem(14);
      border: rem(1) solid $c_button_dark;
      padding: rem(10) rem(20);
      border-radius: rem(100);

      @include breakpoint(large) {
        transition: background 0.3s ease-in-out, color 0.2s ease-in-out;

        &:hover {
          background-color: $c_button_dark;
          color: $c_button_light;
        }
      }

      @include breakpoint(xlarge) {
        font-size: rem(18);
        padding: rem(16) rem(30);
      }

      @include breakpoint(xxlarge) {
        font-size: rem(24);
        padding: rem(20) rem(40);
      }
    }
  }
}
