@use "@/app/scss/abstracts" as *;

#SuccessMapSection {
  background-color: $c_button_light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(20);
  padding-block: rem(20) rem(60);
  @include full_width;

  @include breakpoint(medium) {
    gap: rem(40);
  }

  @include breakpoint(medium) {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include breakpoint(large) {
    height: 100vh;
  }

  .success_map_main {
    width: 100%;
    background-color: $c_background_secondary;
    border-radius: rem(10);
    padding: rem(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint(medium) {
      gap: rem(40);
      padding-block: rem(40);
    }

    @include breakpoint(large) {
      padding-block: rem(50);
    }

    @include breakpoint(xlarge) {
      padding-block: $p_block_section;
    }

    .map_main_container {
      @include breakpoint(medium) {
        width: 100%;
        padding-inline: rem(50);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(20);
      }

      @include breakpoint(large) {
        gap: rem(20);
      }

      .taluka_map_container {
        svg {
          height: 50vh;

          @include breakpoint(medium) {
            max-height: 26vh;
          }

          @include breakpoint(large) {
            max-height: 50vh;

            g {
              cursor: pointer;

              path {
                transition: fill 0.2s ease-in-out;
                &:hover {
                  &:nth-of-type(1) {
                    fill: $c_acccent_dark;
                  }
                }
              }
            }
          }
        }
      }

      .info_container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: rem(30);
        column-gap: rem(18);

        @include breakpoint(medium) {
          padding-block: rem(40);
        }

        @include breakpoint(xlarge) {
          padding-block: rem(80);
          row-gap: rem(70);
        }

        @include breakpoint(xxlarge) {
          padding-block: rem(200);
        }

        .info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: rem(10);

          h5 {
            max-width: 86%;
            font-size: rem(14);
            color: $c_text_accent_secondary;
            font-weight: 300;

            @include breakpoint(medium) {
              max-width: 70%;
            }

            @include breakpoint(large) {
              max-width: 60%;
            }

            @include breakpoint(xlarge) {
              max-width: 50%;
            }
          }

          &:nth-last-of-type(1) {
            h5 {
              max-width: 100%;

              @include breakpoint(xlarge) {
                max-width: 70%;
              }
            }
          }

          p {
            font-size: rem(20);
            color: $c_text_paragraph;
          }
        }
      }
    }
  }
}
