@use "@/app/scss/abstracts" as *;

header {
  height: rem(50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
  @include full_width;

  @include breakpoint(medium) {
    height: rem(80);
  }

  @include breakpoint(large) {
    height: rem(100);
  }

  @include breakpoint(xlarge) {
    height: rem(120);
  }

  @include breakpoint(xxlarge) {
    height: rem(140);
  }

  .logo {
    font-size: rem(16);
    font-family: $anek;
    font-weight: 600;
    margin-top: rem(6);
    color: $c_text_logo;

    @include breakpoint(medium) {
      font-size: rem(24);
    }

    @include breakpoint(xlarge) {
      font-size: rem(32);
    }

    @include breakpoint(xxlarge) {
      font-size: rem(40);
    }
  }
}
