@use "@/app/scss/abstracts" as *;

.sliderMain {
  width: 100%;
  position: relative;
}

.sliderWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.navButtons {
  display: flex;
  margin-top: 1rem;
  justify-content: center;

  .line {
    width: rem(1);
  }
}

.navButton {
  background: $c_text_accent;
  border: none;
  border-radius: rem(1000);
  padding: rem(8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  width: rem(60);

  &:nth-of-type(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:nth-of-type(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @include breakpoint(large) {
    &:hover:not(:disabled) {
      background-color: $c_button_dark;
      color: $c_button_light;
    }
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.sliderTrack {
  display: flex;
  height: 100%;
}

.slide {
  flex-shrink: 0;
}
