@use "@/app/scss/abstracts" as *;

#Mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(14);
  background-color: $c_button_light;
  padding-block: rem(60);
  @include full_width;

  h1,
  h3 {
    font-family: $syne;
    font-weight: 100;
  }

  h1 {
    font-size: rem(18);
    color: $c_text_nav;
  }

  h2 {
    font-family: $nunito;
    font-weight: 700;
    font-style: italic;
    color: $c_text_primary;
    text-align: center;
    font-size: rem(30);
  }

  h3 {
    font-size: rem(16);
    text-align: center;
    color: $c_text_secondary;
  }

  .cards_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(24);
    margin-top: rem(30);

    .card {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(26);
      padding: rem(80) rem(10);

      &:nth-of-type(odd) {
        background-color: $c_accent_primary;
      }

      &:nth-of-type(even) {
        background-color: $c_accent_secondary;
      }

      svg {
        margin-top: rem(-10);
        fill: $c_button_light;
      }

      h4 {
        font-family: $syne;
        font-size: rem(30);
        font-weight: 500;
      }

      p {
        font-family: $nunito;
        font-weight: 400;
        font-size: rem(60);
        color: $c_button_light;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.4;

        span {
          font-family: $syne;
          font-size: rem(22);
          font-weight: 400;
        }
      }
    }
  }
}
