@use "@/app/scss/abstracts" as *;

#Mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(14);
  background-color: $c_button_light;
  padding-block: $p_block_section;
  @include full_width;

  @include breakpoint(medium) {
    height: 50vh;
  }

  @include breakpoint(large) {
    height: 100vh;
  }

  @include breakpoint(xxlarge) {
    gap: rem(40);
  }

  h3 {
    font-family: $syne;
    font-weight: 100;
  }

  h2 {
    font-family: $nunito;
    font-weight: 700;
    font-style: italic;
    color: $c_text_primary;
    text-align: center;
    font-size: rem(30);

    @include breakpoint(medium) {
      font-size: rem(40);
    }

    @include breakpoint(large) {
      font-size: rem(36);
    }

    @include breakpoint(xlarge) {
      font-size: rem(30);
      font-weight: 600;
    }

    @include breakpoint(xxlarge) {
      font-size: rem(60);
    }

    .mainTitleSplit {
      justify-content: center;
    }
  }

  .cards_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: rem(30);
    gap: rem(8);

    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-between;
      gap: rem(20);
    }

    @include breakpoint(xlarge) {
      gap: rem(40);
    }

    @include breakpoint(xxlarge) {
      margin-top: rem(80);
      gap: 2%;
    }

    .card {
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      gap: rem(16);
      padding: rem(30) rem(10);
      border-radius: rem(8);
      background-color: $c_accent_primary;

      &:nth-of-type(1),
      &:nth-of-type(4) {
        background-color: $c_accent_primary;
      }

      &:nth-of-type(3),
      &:nth-of-type(4) {
        svg {
          margin-top: 0;
        }
      }

      &:nth-of-type(2),
      &:nth-of-type(3) {
        background-color: $c_accent_secondary;
      }

      @include breakpoint(medium) {
        display: grid;
        place-items: center;
        gap: rem(12);
        padding: rem(40) rem(10);

        &:nth-of-type(odd) {
          background-color: $c_accent_primary;
        }

        &:nth-of-type(even) {
          background-color: $c_accent_secondary;
        }
      }

      @include breakpoint(large) {
        padding: rem(60) rem(10);
        border-radius: rem(12);
      }

      @include breakpoint(xlarge) {
        gap: rem(60);
        padding: rem(80) rem(10);
        border-radius: rem(16);
      }

      @include breakpoint(xxlarge) {
        gap: rem(80);
        padding: rem(100) rem(10);
      }

      $svg_size: rem(80);
      $svg_size_medium: rem(80);
      $svg_size_xlarge: rem(120);
      $svg_size_xxlarge: rem(160);

      svg {
        margin-top: rem(-10);
        fill: $c_button_light;
        width: $svg_size;
        height: $svg_size;

        @include breakpoint(medium) {
          width: $svg_size_medium;
          height: $svg_size_medium;
        }

        @include breakpoint(xlarge) {
          width: $svg_size_xlarge;
          height: $svg_size_xlarge;
        }

        @include breakpoint(xxlarge) {
          width: $svg_size_xxlarge;
          height: $svg_size_xxlarge;
        }
      }

      h4 {
        font-family: $syne;
        font-size: rem(24);
        font-weight: 500;
        text-align: center;
        width: min-content;

        @include breakpoint(medium) {
          font-size: rem(24);
        }

        @include breakpoint(xlarge) {
          font-size: rem(30);
        }

        @include breakpoint(xxlarge) {
          font-size: rem(36);
        }
      }

      p {
        font-family: $nunito;
        font-weight: 400;
        font-size: rem(44);
        color: $c_button_light;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.4;

        @include breakpoint(medium) {
          font-size: rem(40);
        }

        @include breakpoint(xlarge) {
          font-size: rem(74);
        }

        @include breakpoint(xxlarge) {
          font-size: rem(80);
        }

        span {
          font-family: $syne;
          font-size: rem(16);
          font-weight: 400;
          text-align: center;
          line-height: 1.2;

          @include breakpoint(medium) {
            font-size: rem(16);
          }

          @include breakpoint(xlarge) {
            font-size: rem(26);
          }

          @include breakpoint(xxlarge) {
            font-size: rem(32);
          }
        }
      }
    }
  }
}
